



.glitch {
  margin: 40% 0;
  display: flex;
  font-size: 4rem;
  color: #000000;
  align-items: center;
  justify-content: center;
  
  text-shadow: 3px 3px purple, -3px -3px salmon;
  animation: glitch 0.1s linear infinite;
}

@keyframes glitch {
  0% { text-shadow: 0px 0px purple, 5px 5px salmon; }
  50% { text-shadow: -5px -5px purple, -5px -5px salmon; }
  100% { text-shadow: 5px 5px purple, -1px -5px salmon; }
}